* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: robotto;
}

body {
    background: url(./assets/pink-7761356_1280.png) fixed no-repeat;
    background-size: cover;
    color: rgb(247, 93, 119);
    font-size: 3rem;
}

h1 {
    padding-bottom: 30px;
    font-family: dancing script;
    text-shadow: 5px 5px 5px black;
}

#input1 {
    width: 45vw;
    border: 2px solid rgb(250, 180, 180);
    border-radius: 10px;
    padding: 10px;
    font-size: 1.2rem;
    outline: none;
    color: rgb(248, 2, 43);
}

#input1:hover {
    border: 2px solid rgb(228, 128, 145);
}

#btn {
    padding: 6px 15px;
    border: 2px solid rgb(233, 89, 89);
    border-radius: 10px;
    color: white;
    background-color: rgb(247, 90, 116);
    font-size: 1.2rem;
}

.delete {
    background: none;
    border: none;
    color: rgb(236, 154, 168);
    font-size: 1.5rem;
    cursor: pointer;
}

.editBtn {
    background: none;
    border: none;
    color: rgb(236, 154, 168);
    font-size: 1.3rem;
    padding:0px 10px;
    cursor: pointer;
}

.disable {
    color: rgb(245, 166, 180);
    text-decoration: line-through rgb(211, 40, 68);

}

#todoList {
    text-align: center;
}

li {
    width: 50vw;
    background-color: white;
    border: 2px solid rgb(250, 180, 180);
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5px 15px;
}

#list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: rgb(224, 15, 50);
    font-size: 1.2rem;
    text-align: start;
}

.remove {
    display: none;
}

/* media queries */
@media (max-width: 520px) {
    body {
        font-size: 1.8rem;
    }

    #btn {
        padding: 5px 15px;
        font-size: 1rem;
    }

    #input1 {
        width: 70vw;
    }

    li {
        width: 75vw;
    }

    #list {
        font-size: 1.2rem;
    }

    .delete {
        font-size: 1rem;
    }
}

@media (min-width: 520px) and (max-width: 800px) {
    body {
        font-size: 2.5rem;
    }

    #input1 {
        width: 70vw;
    }

    #btn {
        padding: 5px 15px;
        font-size: 1.1rem;
    }

    li {
        width: 70vw;
    }

    #input1 {
        width: 70vw;
    }

    #list {
        font-size: 1.1rem;
    }
}