body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./assets/flowers-6561379_1280.jpg) fixed no-repeat;
    background-size: cover;
    font-family: robboto;
}

#container {
    background: url(./assets/blue-5195667_1280.jpg) fixed no-repeat;
    background-size: cover;
    background-color: rgb(32, 32, 32);
    background-blend-mode: darken;
    height: 60vh;
    width: 40vw;
    border-radius: 10%;
    box-shadow: 5px 5px 10px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    color: white;
}

h1 {
    padding-bottom: 30px;
}

.btn {
    margin-top: 40px;
    padding: 5px 20px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
}

/* media queries */


@media screen and (max-width: 520px) {
    #container {
        width: 80vw;
        height: 50vh;
    }

    h1 {
        padding-bottom: 10px;
        font-size: 2rem;
    }
}

@media (min-width: 520px) and (max-width: 700px) {
    #container {
        width: 60vw;
    }

    h1 {
        padding-bottom: 20px;
    }
}

@media (min-width: 700px) and (max-width: 1100px) {
    #container {
        width: 60vw;
    }

    h1 {
        padding-bottom: 20px;
    }
}